<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %> | OMdB</title>

        <!-- Local CSS -->
        <link rel="stylesheet" type="text/css" href="../css/privatePlaylist.css">
        <!-- noty.js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    </head>
    <body>
    <header>
<!-- NAVBAR -->
        <div class="title"><a href="/">OMdB</a>
            <div>|&nbsp; <%= user.name %></div>
        </div>
        <div class="buttons">
        <a href="/"><button>Home</button></a>
        <a href="/playlist/private"><button>Private Playlist</button></a>
        <a href="/users/destroySession"><button>Sign Out</button></a>
        </div>
    </header>

<!-- PLAYLIST -->
    <div class="container">
        <% if (movieList.length > 0) { %>
        <h1>Your Public Playlist</h1>
        <div class="movie-list" id="movie-list">
            <% movieList.forEach(movie => { %>
            <div class="movie-item">
                <img src="<%= movie.poster %>" alt="<%= movie.title %>">
                <h2><%= movie.title %></h2>
                <a href="/playlist/public/remove/?id=<%=movie.id%>" ><button class="remove-button">Remove</button></a>
            </div>
            <% }); %>
        </div>
        <% } else { %>
        <p class="empty">Your public playlist is empty.</p>
        <% } %>
    </div>

      <script>
        <% if(flash.success && flash.success.length>0) {%>
            new Noty({
                theme : 'light',
                text: '<%=flash.success%>',
                layout: 'topRight',
                timeout:1500
            }).show()
        <% } %>
        <% if(flash.error && flash.error.length>0) {%>
            new Noty({
                theme : 'light',
                text: '<%=flash.error%>',
                type: 'error',
                layout: 'topRight',
                timeout:1500
            }).show()
        <% } %>
        <% if(flash.info && flash.info.length>0) {%>
            new Noty({
                theme : 'light',
                text: '<%=flash.error%>',
                type: 'info',
                layout: 'topRight',
                timeout:1500
            }).show()
        <% } %>
    </script>
  </body>
</html>